In [93]:
list1 = [1,2,3,4,1,2,3,6,8]
list(set(list1))

[1, 2, 3, 4, 6, 8]

In [27]:
#print len of all the words in the list
list2 = ['tejas','pravin','python']
for i in list2:
    print(f'the length of the {i} is:' ,len(i))

the length of the tejas is: 5
the length of the pravin is: 6
the length of the python is: 6

In [32]:
#print the output after removing 0,4,5 element from the list
list3 = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
list4 = list3[:-2]
list4[1:]

['Green', 'White', 'Black']

In [40]:
list3 = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
list3.pop()
list3.pop()
print(list3[1:])

['Green', 'White', 'Black']

In [48]:
#difference of the 2 list
list1 = [1,2,3,4,5,6]
list2=[4,5,6]
temp = []
for i in list1:
    if i not in list2:
        temp.append(i)
print(temp)

[1, 2, 3]

In [54]:
#index of the specified element
name = ['tejas','shubhi','patil']
print(name.index('shubhi'))

1

In [66]:
#append a list to second list
name = ['tejas','shubhi','patil']
naam = [1,2,3,]
naam.extend(name)
print(naam)

[1, 2, 3, 'tejas', 'shubhi', 'patil']

In [80]:
list1 = ['1','2','3','tejas', 'shubhi', 'patil']
print(len(list1[1:-1]))

4

In [84]:
#to check sublist from the list
list1 = [3,4,5,[3,3]]
print(type(list1[0]))
print(type(list1[1]))
print(type(list1[2]))
print(type(list1[3]))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'list'>

In [88]:
#to remove empty tuples from the list 
test = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
test.remove(())
test.remove(())
print(test)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [91]:
#difference betweem two list
list1 = [1,2,3,4,5,6]
list2=[4,5,6]
result = list(set(list1) - set(list2))
print(result)

[1, 2, 3]